{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - Toolbox</title>

        <link href="{% static 'toolbox/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'toolbox/plugins/dataTables/css/dataTables.bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'toolbox/plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'toolbox/css/toolbox.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="{% static 'toolbox/plugins/iefix/html5shiv.min.js' %}"></script>
            <script src="{% static 'toolbox/plugins/iefix/respond.min.js' %}"></script>
        <![endif]-->
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="{% static 'toolbox/plugins/jquery/jquery.js' %}"></script>
        <script src="{% static 'toolbox/plugins/bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static 'toolbox/plugins/dataTables/js/jquery.dataTables.js' %}"></script>
        <script src="{% static 'toolbox/plugins/dataTables/js/dataTables.bootstrap.js' %}"></script>
        <script src="{% static 'toolbox/js/toolbox.js' %}"></script>
        {% block script %}{% endblock %}
    </body>
</html>