{% extends 'toolbox/layout/base.html' %}
{% load staticfiles %}

{% block title %}Update tracking numbers - Order Tracking{% endblock %}

{% block page_title %}
Order Tracking <small>Update shipping numbers</small>
{% endblock %}

{% block page_content %}
<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="portlet light">
        <div class="portlet-title">
        </div>
        <div class="portlet-body">
            <table id="orderlist" class="table table-hover">
                <thead>
                    <tr>
                        <th class="id">ID</th>
                        <th class="order-id">Order ID</th>
                        <th class="brief">Brief</th>
                        <th class="shipping-nr">Shipping Number</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in order_list %}
                    <tr>
                        <td class="id">
                            <a href="{{ order.get_absolute_url }}" data-modal-url="{% url 'ordertracking:modal' order.id %}">{{ order.id }}</a>
                        </td>
                        <td class="order-id">
                            <a href="{{ order.get_order_url }}" target="_blank">{{ order.order_id }}</a>
                        </td>
                        <td class="brief">
                            {{ order.brief }}
                        </td>
                        <td>
                            <div class="form-group form-md-line-input">
                                <input type="hidden" name="id[]" value="{{ order.id }}">
                                <input type="text" class="form-control" name="shipping-nr[]" value="{{ order.shipping_nr|default:'' }}">
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button role="submit" class="btn green-meadow"><i class="fa fa-check"></i> update shipping numbers</button>
            <a href="{% url 'ordertracking:list' %}" class="btn red-sunglo"><i class="fa fa-times"></i> skip</a>
        </div>
    </div>
</form>
{% endblock %}