{% extends 'toolbox/layout/base.html' %}
{% load staticfiles %}

{% block title %}List - Order Tracking{% endblock %}

{% block css %}
<link href="{% static 'ordertracking/css/order_list.css' %}" rel="stylesheet">
<link href="{% static 'ordertracking/css/order_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{% static 'ordertracking/js/order_detail.js' %}"></script>
{% endblock %}

{% block page_title %}
Order Tracking <small>List of orders</small>
{% endblock %}

{% block page_toolbar %}
<a href="{% url 'ordertracking:update-shipping-status' %}" class="btn btn-outline grey-mint"><i class="fa fa-truck"></i> update shipping status</a>
<a href="{% url 'ordertracking:create' %}" class="btn btn-outline grey-mint"><i class="fa fa-plus"></i> add new order</a>
{% endblock %}

{% block page_content %}
<form method="POST">
    {% csrf_token %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="actions">
                <div>
                    <span class="font-grey-salsa">Update order state of selected orders to </span>
                    {% for state in states %}
                        <button role="submit" class="btn btn-xs btn-outline btn-default" name="update-state" value="{{ state.id }}">{{ state }}</button>
                    {% endfor %}
                </div>
                <div>
                    <span class="font-grey-salsa">Mark selected orders as </span>
                    <button role="button" class="btn btn-xs btn-outline yellow-casablanca" name="update-order" value="shipped">shipped</button>
                    <button role="button" class="btn btn-xs btn-outline yellow-casablanca" name="update-order" value="delivered">delivered</button>
                    <button role="button" class="btn btn-xs btn-outline green-meadow" name="update-order" value="delivered+complete">delivered & complete</button>
                    <button role="button" class="btn btn-xs btn-outline green-meadow" name="update-order" value="complete">complete</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="portlet-body">
                <table id="order-list" class="table table-hover datatable">
                    <thead>
                        <tr>
                            <th class="select"></th>
                            <th class="id">ID</th>
                            <th class="order-id">Order ID</th>
                            <th class="brief">Brief</th>
                            <th class="ordered"><i class="fa fa-shopping-cart"></i></th>
                            <th class="shipped"><i class="fa fa-truck"></i></th>
                            <th class="shipping-nr"><i class="fa fa-map-marker"></i></th>
                            <th class="delivered"><i class="fa fa-flag"></i></th>
                            <th class="state">State</th>
                            <th class="complete">Complete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order in order_list %}
                        <tr>
                            <td class="select">
                                <input type="checkbox" name="id[]" value="{{ order.id }}">
                            </td>
                            <td class="id">
                                <a href="{{ order.get_absolute_url }}" data-modal-url="{% url 'ordertracking:modal' order.id %}">{{ order.id }}</a>
                            </td>
                            <td class="order-id">
                                <a href="{{ order.get_order_url }}" target="_blank">{{ order.order_id }}</a>
                            </td>
                            <td class="brief">
                                {{ order.brief }}
                            </td>
                            <td class="ordered">
                                <i class="fa fa-shopping-cart"></i>
                                <small>{{ order.order_days }}</small>
                            </td>
                            <td class="shipped {% if not order.shipping_date %}font-grey{% endif %}">
                                <i class="fa fa-truck"></i>
                                <small>
                                    {% if order.shipping_date %}
                                        {{ order.shipping_days }}
                                    {% endif %}
                                </small>
                            </td>
                            <td class="shipping-nr">
                                {% if order.shipping_nr %}
                                    <a href="{{ order.get_shipping_url }}" target="_blank">
                                        <i class="fa fa-map-marker"></i>
                                        <small>
                                            {% if order.shipping_status %}
                                                {{ order.shipping_status }}
                                            {% else %}
                                                {{ order.shipping_nr }}
                                            {% endif %}
                                        </small>
                                    </a>
                                {% else %}
                                    <i class="fa fa-map-marker font-grey"></i>
                                {% endif %}
                            </td>
                            <td class="delivered {% if not order.delivery_date %}font-grey{% endif %}">
                                <i class="fa fa-flag"></i>
                                <small>{{ order.delivery_date|default:'' }}</small>
                            </td>
                            <td class="state">{% include 'ordertracking/snippets/order_state.html' %}</td>
                            <td class="complete">{% include 'ordertracking/snippets/order_complete.html' %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

{% include 'ordertracking/snippets/order_detail_modal.html' %}
{% endblock %}