/*
 * Style that order list table.
 */

table#orderlist thead th.id
{
    width: 30px;
}

table#orderlist thead th.store
{
    width: 75px;
}

table#orderlist thead th.order-id,
table#orderlist thead th.shipping-nr
{
    width: 100px;
}

table#orderlist thead th.order-date,
table#orderlist thead th.shipping-date,
table#orderlist thead th.arrival-date
{
    width: 85px;
}

table#orderlist thead th.duration
{
    width: 30px;
}

table#orderlist thead th.state
{
    width: 65px;
}

table#orderlist thead th.complete
{
    width: 85px;
}

table#orderlist tbody td.complete span.label
{
    width: 200px ! important;
}