{% extends 'toolbox/base.html' %}
{% load markdownify %}

{% block title %}Order {{ order }} - Order Tracking{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="pull-right">
    <a href="{{ order.get_admin_url }}" target="_blank" class="btn btn-default"><i class="fa fa-edit"></i> edit</a>
</div>
{% endif %}

<h2>Order {{ order }}</h2>

<div class="row">
    <div class="col-md-4">
        <h3>
            <i class="fa fa-cube"></i>
            Description
        </h3>
        <p>
            {{ order.brief }}
        </p>
        {% if order.description %}
            <p>{{ order.description|markdownify|safe }}</p>
        {% endif %}

        {% if order.notes %}
            <h3>
                <i class="fa fa-sticky-note-o"></i>
                Notes
            </h3>
            <p>{{ order.notes|markdownify|safe }}</p>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h3>
            <i class="fa fa-binoculars"></i>
            State
        </h3>
        <dl class="dl-horizontal">
            <dt>Order state</dt>
            <dd>{% include 'ordertracking/snippets/order_state.html' %}</dd>
            <dt>Complete</dt>
            <dd>{% include 'ordertracking/snippets/order_complete.html' %}</dd>
            {% if order.shipping_nr %}
                <dt>Shipping#</dt>
                <dd><a class="{{ order.get_shipping_url }}">{{ order.shipping_nr }}</a></dd>
            {% endif %}
        </dl>
    </div>
    <div class="col-md-4">
        <h3><i class="fa fa-calendar"></i> Dates</h3>
        <dl class="dl-horizontal">
            <dt>Order date</dt>
            <dd>{{ order.order_date }}</dd>
            <dt>Shipping date</dt>
            <dd>{{ order.shipping_date|default:'' }}</dd>
            <dt>Arrival date</dt>
            <dd>{{ order.arrival_date|default:'' }}</dd>
        </dl>
    </div>
</div>

{% endblock %}