{% extends 'toolbox/base.html' %}
{% load staticfiles %}

{% block title %}List - Order Tracking{% endblock %}

{% block head %}
<link href="{% static 'ordertracking/css/order_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="pull-right">
    <a href="{% url 'admin:ordertracking_order_add' %}" target="_blank" class="btn btn-default"><i class="fa fa-plus"></i> add</a>
</div>
{% endif %}

<h2>Order Tracking - List</h2>

<table id="orderlist" class="table table-hover">
    <thead>
        <tr>
            <th class="id">ID</th>
            <th class="store">Store</th>
            <th class="order-id">Order ID</th>
            <th class="shipping-nr">Shipping #</th>
            <th class="brief">Brief</th>
            <th class="order-date">Ordered</th>
            <th class="shipping-date">Shipped</th>
            <th class="arrival-date">Received</th>
            <th class="duration">Dur.</th>
            <th class="state">State</th>
            <th class="complete">Complete</th>
            {% if user.is_authenticated %}
            <th class="edit"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for order in order_list %}
        <tr>
            <td class="id"><a href="{{ order.get_absolute_url }}">{{ order.id }}</a></td>
            <td class="store">{{ order.store }}</td>
            <td class="order-id"><a href="{{ order.get_order_url }}" target="_blank">{{ order.order_id }}</a></td>
            {% if order.shipping_nr %}
                <td class="shipping-nr"><a href="{{ order.get_shipping_url }}" target="_blank">{{ order.shipping_nr }}</a></td>
            {% else %}
                <td class="shipping-nr"></td>
            {% endif %}
            <td class="brief">{{ order.brief }}</td>
            <td class="order-date">{{ order.order_date }}</td>
            <td class="shipping-date">{{ order.shipping_date|default:'' }}</td>
            <td class="arrival_date">{{ order.arrival_date|default:'' }}</td>
            <td class="duration">{{ order.get_duration_days }}</td>
            <td class="state">{% include 'ordertracking/snippets/order_state.html' %}</td>
            <td class="complete">{% include 'ordertracking/snippets/order_complete.html' %}</td>
            {% if user.is_authenticated %}
            <td class="edit"><a href="{{ order.get_admin_url }}" target="_blank" class="btn btn-xs btn-default"><i class="fa fa-edit"></i> edit</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}