/*
 * Style that order list table.
 */

table#orderlist thead th.id
{
    width: 30px;
}

table#orderlist thead th.order-id
{
    width: 100px;
}

table#orderlist thead th.shipping-nr
{
    width: 20px;
}

table#orderlist thead th.ordered,
table#orderlist thead th.shipped
{
    width: 40px;
}

table#orderlist thead th.delivered
{
    width: 130px;
}

table#orderlist thead th.state
{
    width: 65px;
}

table#orderlist thead th.complete
{
    width: 85px;
}

/*
 * Style the modal for the order details.
 */

#detail h2:nth-child(2)
{
    margin-top: 0;
}

#detail span.label
{
    margin: 2px;
    font-size: 20px;
    line-height: 40px;
}